NodeRED/flows.json
[{"id":"1e6a8288.6ea37d","type":"file in","z":"fcea4801.254558","name":"","filename":"/malware/parsed/same/Mal2.bin.1.bin","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":630,"y":3200,"wires":[["cfd0559.d6117a8","3f553e1f.d70332"]]},{"id":"bee650f5.77b2c","type":"inject","z":"fcea4801.254558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":3100,"wires":[["1e6a8288.6ea37d"]]},{"id":"cfd0559.d6117a8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":3140,"wires":[]},{"id":"3c230f1d.33e46","type":"http request","z":"fcea4801.254558","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://192.168.1.147/events/upload_sample/1342","tls":"e9909836.ebd568","persist":false,"proxy":"","authType":"","x":1240,"y":3260,"wires":[["8e77951a.74d3b8"]]},{"id":"3f553e1f.d70332","type":"function","z":"fcea4801.254558","name":"","func":"//var Authorization= \"KlDzVeqt8YBNP3coW8InwPI0VL2r5Y5apPV5kJZ2\" ;\n var Authorization= \"CoFC1yD4E9xGsmt2vQIxjx29b0VuskhMLwxO1CIT\" ;\nvar Accept= \"application/json\";\nvar ContentType= \"application/json\";\nmsg.headers = {\"Authorization\" : Authorization, \"Accept\" : Accept, \"content-type\":ContentType, \"event_id\":1342};\n\n\nvar test = {\"request\":{\"files\": [{\"filename\": \"test1.txt\", \"data\": msg.payload}], \"distribution\": 1, \"info\" : \"test\", \"event_id\": 1342}}\n\nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3200,"wires":[["3c230f1d.33e46","e49a57f.c863ea8"]]},{"id":"8e77951a.74d3b8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":3220,"wires":[]},{"id":"e49a57f.c863ea8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":3180,"wires":[]},{"id":"bdc85c4a.141c2","type":"http in","z":"fcea4801.254558","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":380,"y":3380,"wires":[["20234caa.039854","2ec82759.e10e88","b39d57b0.be94a8","b75db59f.5912b8"]]},{"id":"20234caa.039854","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":3280,"wires":[]},{"id":"2ec82759.e10e88","type":"http response","z":"fcea4801.254558","name":"","statusCode":"200","headers":{},"x":720,"y":3320,"wires":[]},{"id":"96c0751.504ea88","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"complete","targetType":"msg","x":1220,"y":3480,"wires":[]},{"id":"d688f4e1.5da2e8","type":"join","z":"fcea4801.254558","name":"","mode":"custom","build":"array","property":"messages","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":3380,"wires":[["17c3781b.50b5f8","c6bd4596.c9e7e8","5cf5a504.2b7fbc"]]},{"id":"17c3781b.50b5f8","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"messages","targetType":"msg","x":1440,"y":3280,"wires":[]},{"id":"50e59205.12e61c","type":"function","z":"fcea4801.254558","name":"Send complete message to the join flow to send the message","func":"msg.complete = true;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":3440,"wires":[["96c0751.504ea88","d688f4e1.5da2e8"]]},{"id":"b39d57b0.be94a8","type":"function","z":"fcea4801.254558","name":"Parse String into JSON Object","func":"msg.messages = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":3380,"wires":[["d688f4e1.5da2e8"]]},{"id":"c6bd4596.c9e7e8","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":3320,"wires":[]},{"id":"b75db59f.5912b8","type":"trigger","z":"fcea4801.254558","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":550,"y":3440,"wires":[["50e59205.12e61c"]]},{"id":"67f1f24c.d14edc","type":"function","z":"fcea4801.254558","name":"set payload and headers for HPfeeds-Dionaea","func":"var Authorization= \"CoFC1yD4E9xGsmt2vQIxjx29b0VuskhMLwxO1CIT\" ;\n//var Authorization= \"uyVOO0OWTo09nVaXjVieo1zmno00JA3rn1cxaXS0\" ;\nvar Accept= \"application/json\";\nvar ContentType= \"application/json\";\nif(msg.dionaea.length > 2 || msg.malware.length > 0 ){\n    msg.all = msg.dionaea;\n\n    var today = new Date();\n    var dd = today.getDate();\n    \n    var mm = today.getMonth()+1; \n    var yyyy = today.getFullYear();\n    if(dd<10) \n    {\n        dd='0'+dd;\n    } \n    \n    if(mm<10) \n    {\n        mm='0'+mm;\n    } \n    today = yyyy+'-'+mm+'-'+dd;\n    \n    msg.headers = {\"Authorization\" : Authorization, \"Accept\" : Accept, \"content-type\":ContentType};\n    var data ={Event:{date:today,threat_level_id:\"2\",info:\"HpFeeds-Dionaea\",published:\"0\",analysis:\"0\",distribution:\"0\",Attribute:[{test:\"test\"}]}};\n        \n    msg.payload = data;\n    \n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":1940,"y":3360,"wires":[["f37ae438.cfdec8"]]},{"id":"f37ae438.cfdec8","type":"http request","z":"fcea4801.254558","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://192.168.1.147/events/","tls":"e9909836.ebd568","persist":false,"proxy":"","authType":"","x":2210,"y":3360,"wires":[["38770f5a.c02f9","b5b5d435.52e6b8"]]},{"id":"38770f5a.c02f9","type":"function","z":"fcea4801.254558","name":"Get the IP from the JSON Dionaea","func":"var template = {type:\"text\",category:\"Payload delivery\",to_ids:\"0\",distribution:\"0\",comment:\" \",value:\" \"};\n\nmsg.idData = msg.payload;\nvar data = msg.all;\nvar json = msg.all;\nmsg.JSON = msg.all;\nmsg.row = 0;\n\nfunction search(nameKey, myArray){\n    for (var k=0; k < myArray.length; k++) {\n        msg.payload = myArray[k].value ;\n        if (myArray[k].value === nameKey) {\n            \n            return k;\n            \n        }else{\n            return null;\n        }\n    }\n}\n\nvar everything = [];\n\nvar honeypot = [];\n\nvar ip = [];\n\nvar i = 0;\nfor (var j in data){\n    \n    var item = data[j];\n    \n    \n    \n    if(ip.includes(item.payload.remote_host+\"|\"+item.payload.remote_port) === false && item.channel == \"dionaea.connections\"){\n        \n        ip[i] = item.payload.remote_host+\"|\"+item.payload.remote_port;\n        i++;\n        msg.payload = ip;\n    }\n    \n}\n\nfor(var x =0; x<ip.length;x++){\n    everything.push({category : \"Network activity\", comment:\"\", to_ids:\"0\", distribution: \"0\", type:\"ip-src|port\",value:ip[x]});\n}\n\nmsg.honeypot = everything;\nmsg.json = json;\nmsg.payload = everything;\nreturn msg;","outputs":1,"noerr":0,"x":2480,"y":3360,"wires":[["b0ccaaf7.d17b88","7c9fe82f.62ed38","e2db953d.ec3fa8"]]},{"id":"b0ccaaf7.d17b88","type":"function","z":"fcea4801.254558","name":"mapping all the information to fit the Payload","func":"//var Authorization= \"KlDzVeqt8YBNP3coW8InwPI0VL2r5Y5apPV5kJZ2\" ;\n var Authorization= \"CoFC1yD4E9xGsmt2vQIxjx29b0VuskhMLwxO1CIT\" ;\nvar Accept= \"application/json\";\nvar ContentType= \"application/json\";\n\nvar idData = JSON.parse(msg.idData);\nmsg.headers = {\"Authorization\" : Authorization, \"Accept\" : Accept, \"content-type\":ContentType, \"event_id\":idData.Event.id};\n\nvar everything = msg.payload;\nvar json = msg.JSON;\n\nfunction search(nameKey, myArray){\n    var checkBool = false;\n    var idetifedRow;\n    for (var i = 0; i<myArray.length; i++) {\n        if(myArray[i].value !== undefined){\n            if (myArray[i].value === nameKey) {\n                identifiedRow = i;\n                checkBool = true;\n            }\n        }\n    }\n    if(checkBool === true){\n        return identifiedRow;\n    }else{\n        return \"x\";\n    }\n}\n\nvar commento;\nvar counter = [];\nvar test = [];\nvar malware = [];\nvar num = 0;\nvar numMalware = 0;\n\nfor(var y in json){\n    item = json[y];\n    var row = search(item.payload.remote_host+\"|\"+item.payload.remote_port,everything);\n    \n    if(row != \"x\"){\n        commento = everything[row].comment;\n        counter.push({\n            // event_type : \"Null\",\n            src_ip_event : item.payload.remote_host,\n            src_ip_everything : everything[row].value,\n            everything : everything[row],\n            identified : row,\n            item_event_type : item.payload.connection_protocol,\n            itemIdetified : item,\n            \n        });\n        \n        if(item.channel == \"dionaea.connections\" && everything[row].value == item.payload.remote_host+\"|\"+item.payload.remote_port){\n            \n            if(item.payload.connection_protocol == \"smbd\"){\n                //smbd\n                everything[row].comment = commento +\"\\n->smbd New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"epmapper\"){\n                //epmapper\n                everything[row].comment = commento +\"\\n->epmapper New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"Blackhole\"){\n                //Blackhole\n                everything[row].comment = commento +\"\\n->Blackhole New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"SipSession\"){\n                //SipSession\n                everything[row].comment = commento +\"\\n->SipSession New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"ftpd\"){\n                //ftpd\n                everything[row].comment = commento +\"\\n->ftpd New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"mysqld\"){\n                //mysqld\n                everything[row].comment = commento +\"\\n->mysqld New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"pcap\"){\n                //pcap\n                everything[row].comment = commento +\"\\n->pcap New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"mongod\"){\n                //mongod\n                everything[row].comment = commento +\"\\n->mongod New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"mirrord\"){\n                //mirrord\n                everything[row].comment = commento +\"\\n->mirrord New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }else if(item.payload.connection_protocol == \"mirrorc\"){\n                //mirrorc\n                everything[row].comment = commento +\"\\n->mirrorc New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nDestination Port: \"+item.payload.local_port+\"\\n\";\n            }\n\n            \n        }\n            // test[num] = everything[row];\n        }  // num ++;\n        /*else if(item.honeypot == \"dionaea\"&& everything[row].value == item.source_ip+\":\"+item.honeypot+\"/\"+item.protocol && item.protocol == \"microsoft-ds\" ){\n            //microsoft-ds\n           // everything[row].comment = commento +\"\\n->mongod New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nSource IP and Port: \"+item.source_ip+\":\"+item.source_port+\"\\nDestination Port: \"+item.destination_port+\"\\nAttacker Country: \"+item.country_name+\"\\n\";\n            everything[row].comment = commento +\"\\n->Microsoft DS\\n\"+\"Time: \"+item.timestamp+\"\\nSource IP and Port: \"+item.source_ip+\":\"+item.source_port+\"\\nDestination Port: \"+item.destination_port+\"\\nHash: \"+item.attachments[1].hashes.md5+\"\\nAttacker Country: \"+item.country_name+\"\\n\";\n            malware[numMalware] = everything[row];\n            numMalware ++;\n        }else if(item.honeypot == \"dionaea\"&& everything[row].value == item.source_ip+\":\"+item.honeypot+\"/\"+item.protocol && item.protocol == \"mysql\" ){\n            //mysql\n            //[row].comment = commento +\"\\n->mongod New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nSource IP and Port: \"+item.source_ip+\":\"+item.source_port+\"\\nDestination Port: \"+item.destination_port+\"\\nAttacker Country: \"+item.country_name+\"\\n\";\n\n            malware[numMalware] = everything[row];\n            numMalware ++;\n        }*/\n        \n    }\n\n\n\n\n//msg.payload = item;\ncounter.push(everything);\n//msg.test = idData.Event.id;\nmsg.malware = malware;\nmsg.json = counter;\nmsg.payload = everything;\nmsg.all = everything;\n//msg.url = \"http://157.230.248.91/attributes/add/\"+msg.id;\n//msg.url = \"https://threatintel.honeynet.or.id/attributes/add/\" + 1565;\n msg.url = \"https://192.168.1.147/attributes/add/\" + idData.Event.id;\n// msg.json = row;\nreturn msg;","outputs":1,"noerr":0,"x":2830,"y":3360,"wires":[["9a32b425.787938","7ddfdeaa.e877d"]]},{"id":"9a32b425.787938","type":"http request","z":"fcea4801.254558","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"e9909836.ebd568","persist":false,"proxy":"","authType":"","x":3150,"y":3360,"wires":[[]]},{"id":"b5b5d435.52e6b8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2410,"y":3320,"wires":[]},{"id":"7c9fe82f.62ed38","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2750,"y":3320,"wires":[]},{"id":"7ddfdeaa.e877d","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3150,"y":3300,"wires":[]},{"id":"c84ef9a2.687a98","type":"function","z":"fcea4801.254558","name":"Get the IP from the JSON Cowrie","func":"var template = {type:\"text\",category:\"Payload delivery\",to_ids:\"0\",distribution:\"0\",comment:\" \",value:\" \"};\n\nmsg.idData = msg.payload;\nvar data = msg.all;\nvar json = msg.all;\nmsg.JSON = msg.all;\nmsg.row = 0;\n\nfunction search(nameKey, myArray){\n    for (var k=0; k < myArray.length; k++) {\n        msg.payload = myArray[k].value ;\n        if (myArray[k].value === nameKey) {\n            \n            return k;\n            \n        }else{\n            return null;\n        }\n    }\n}\n\nvar everything = [];\n\nvar honeypot = [];\n\nvar ip = [];\n\nvar i = 0;\nfor (var j in data){\n    \n    var item = data[j];\n    \n    \n    \n    if( ip.includes(item.payload.peerIP+\"|\"+item.payload.peerPort) === false && item.channel == \"cowrie.sessions\"){\n        \n        ip[i] = item.payload.peerIP+\"|\"+item.payload.peerPort;\n        i++;\n        msg.payload = ip;\n    }\n    // item.payload.remote_host+\"|\"+item.payload.remote_port) === false && item.channel == \" mwbinary.dionaea.sensorunique\"\n    \n    // if(ip.includes(item.payload.saddr+\"|\"+item.payload.sport) === false && item.channel == \"dionaea.capture\"){\n        \n    //     ip[i] = item.payload.saddr+\"|\"+item.payload.sport;\n    //     i++;\n    //     msg.payload = ip;\n    // }\n    \n}\n\nfor(var x =0; x<ip.length;x++){\n    everything.push({category : \"Network activity\", comment:\"\", to_ids:\"0\", distribution: \"0\", type:\"ip-src|port\",value:ip[x]});\n}\n\nmsg.honeypot = everything;\nmsg.json = json;\nmsg.payload = everything;\nreturn msg;","outputs":1,"noerr":0,"x":2480,"y":3400,"wires":[["278057ca.71f4d8","d6da3967.4f9df8"]]},{"id":"278057ca.71f4d8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2750,"y":3440,"wires":[]},{"id":"d6da3967.4f9df8","type":"function","z":"fcea4801.254558","name":"mapping all the information to fit the Payload","func":"//var Authorization= \"KlDzVeqt8YBNP3coW8InwPI0VL2r5Y5apPV5kJZ2\" ;\n var Authorization= \"CoFC1yD4E9xGsmt2vQIxjx29b0VuskhMLwxO1CIT\" ;\nvar Accept= \"application/json\";\nvar ContentType= \"application/json\";\n\nvar idData = JSON.parse(msg.idData);\nmsg.headers = {\"Authorization\" : Authorization, \"Accept\" : Accept, \"content-type\":ContentType, \"event_id\":idData.Event.id};\n\nvar everything = msg.payload;\nvar json = msg.JSON;\n\nfunction isEmpty(obj) {\n    for(var key in obj) {\n        if(obj.hasOwnProperty(key))\n            return false;\n    }\n    return true;\n}\n\nfunction search(nameKey, myArray){\n    var checkBool = false;\n    var idetifedRow;\n    for (var i = 0; i<myArray.length; i++) {\n        if(myArray[i].value !== undefined){\n            if (myArray[i].value === nameKey) {\n                identifiedRow = i;\n                checkBool = true;\n            }\n        }\n    }\n    if(checkBool === true){\n        return identifiedRow;\n    }else{\n        return \"x\";\n    }\n}\n\nvar commento;\nvar counter = [];\nvar test = [];\nvar malware = [];\nvar num = 0;\nvar numMalware = 0;\n\nfor(var y in json){\n    item = json[y];\n    var row = search(item.payload.peerIP+\"|\"+item.payload.peerPort,everything);\n    \n    if(row != \"x\"){\n        commento = everything[row].comment;\n        counter.push({\n            // event_type : \"Null\",\n            src_ip_event : item.payload.remote_host,\n            src_ip_everything : everything[row].value,\n            everything : everything[row],\n            identified : row,\n            item_event_type : item.payload.connection_protocol,\n            itemIdetified : item,\n            \n        });\n        var commentVal = \"\";\n        if(item.channel == \"cowrie.sessions\" && everything[row].value == item.payload.peerIP+\"|\"+item.payload.peerPort){\n            \n            if(item.payload.protocol == \"ssh\"){\n                //telnet\n                \n                \n                if(item.payload.loggedin !== null){\n                    \n                    commentVal += \"\\n->ssh New Connection\\n\"+\"Time: \"+item.timestamp+\"\\n\";\n                    var index = 0;\n                    for(var row2 in item.payload.loggedin){\n                        if(index == 0){\n                            commentVal += \"User : \"+item.payload.loggedin[row2]+\"\\n\";\n                            index++;\n                        }else{\n                            commentVal += \"Password : \"+item.payload.loggedin[row2]+\"\\n\";\n                            index++;\n                        }\n                         \n                    }\n                }\n                \n                \n                if(item.payload.commands !== null){\n                    for(var row2 in item.payload.commands){\n                       commentVal += \"commands : \"+item.payload.commands[row2]+\"\\n\";\n                    }\n                }\n                \n                \n                \n                if(isEmpty(item.payload.credentials) === false){\n                    for(var row2 in item.payload.credentials){\n                        \n                        commentVal +=  \"credentials : \"+item.payload.credentials[row2]+\"\\n\";\n                        \n                    }\n                }\n                \n                \n                everything[row].comment += commentVal;\n                msg.test = commentVal;\n                \n                // if(item.payload.unknownCommands !== null){\n                //     for(var row2 in item.payload.unknownCommands){\n                //         everything[row].comment = commento + \"unknownCommands : \"+item.payload.unknownCommands[row2]+\"\\n\";\n                //     }\n                // }\n                \n                \n            }\n\n            \n        }\n            // test[num] = everything[row];\n        }  // num ++;\n        /*else if(item.honeypot == \"dionaea\"&& everything[row].value == item.source_ip+\":\"+item.honeypot+\"/\"+item.protocol && item.protocol == \"microsoft-ds\" ){\n            //microsoft-ds\n           // everything[row].comment = commento +\"\\n->mongod New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nSource IP and Port: \"+item.source_ip+\":\"+item.source_port+\"\\nDestination Port: \"+item.destination_port+\"\\nAttacker Country: \"+item.country_name+\"\\n\";\n            everything[row].comment = commento +\"\\n->Microsoft DS\\n\"+\"Time: \"+item.timestamp+\"\\nSource IP and Port: \"+item.source_ip+\":\"+item.source_port+\"\\nDestination Port: \"+item.destination_port+\"\\nHash: \"+item.attachments[1].hashes.md5+\"\\nAttacker Country: \"+item.country_name+\"\\n\";\n            malware[numMalware] = everything[row];\n            numMalware ++;\n        }else if(item.honeypot == \"dionaea\"&& everything[row].value == item.source_ip+\":\"+item.honeypot+\"/\"+item.protocol && item.protocol == \"mysql\" ){\n            //mysql\n            //[row].comment = commento +\"\\n->mongod New Connection\\n\"+\"Time: \"+item.timestamp+\"\\nSource IP and Port: \"+item.source_ip+\":\"+item.source_port+\"\\nDestination Port: \"+item.destination_port+\"\\nAttacker Country: \"+item.country_name+\"\\n\";\n\n            malware[numMalware] = everything[row];\n            numMalware ++;\n        }*/\n        \n    }\n\n\n\n\n//msg.payload = item;\ncounter.push(everything);\n//msg.test = idData.Event.id;\nmsg.malware = malware;\nmsg.json = counter;\nmsg.payload = everything;\nmsg.all = everything;\n//msg.url = \"http://157.230.248.91/attributes/add/\"+msg.id;\n//msg.url = \"https://threatintel.honeynet.or.id/attributes/add/\" + 1565;\nmsg.url = \"https://192.168.1.147/attributes/add/\" + idData.Event.id;\n// msg.json = row;\nreturn msg;","outputs":1,"noerr":0,"x":2830,"y":3400,"wires":[["7c710fd7.109e7","68f6e8f6.ef7ff8","bd7939d.4d673c8"]]},{"id":"7c710fd7.109e7","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3150,"y":3480,"wires":[]},{"id":"68f6e8f6.ef7ff8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test","targetType":"msg","x":3140,"y":3440,"wires":[]},{"id":"5cf5a504.2b7fbc","type":"function","z":"fcea4801.254558","name":"Cut the msg.messages into several msg.hp","func":"var dionaea = [];\nvar cowrie = [];\nvar dionaeaMal = [];\nvar dionaeaMd = [];\nvar item = msg.messages;\n\nif(msg.messages.length > 2 ){\n    var dionRow = 0;\n    var cowRow = 0;\n    var dionMalRow = 0;\n    var dionMdRow = 0;\n    \n    for(var row in item){\n        if(item[row].channel === \"dionaea.connections\"){\n            dionaea[dionRow] = item[row]; \n            dionRow++;\n        }else if(item[row].channel === \"cowrie.sessions\"){\n            cowrie[cowRow] = item[row];\n            cowRow++;\n        }else if(item[row].channel === \"mwbinary.dionaea.sensorunique\" || item[row].channel === \"dionaea.capture\"){\n            dionaeaMal[dionMalRow] = item[row];\n            dionMalRow++;\n        }\n    }\n   \n}\n\nmsg.dionaea = dionaea;\nmsg.cowrie = cowrie;\nmsg.malware = dionaeaMal;\nmsg.payload = \"done\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1510,"y":3380,"wires":[["4206ceeb.72f37","7ae61d7b.051354","47e7990d.1f56c8","67f1f24c.d14edc","abf454d1.dba768"]]},{"id":"4206ceeb.72f37","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"cowrie","targetType":"msg","x":1830,"y":3260,"wires":[]},{"id":"7ae61d7b.051354","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"dionaea","targetType":"msg","x":1830,"y":3300,"wires":[]},{"id":"47e7990d.1f56c8","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"malware","targetType":"msg","x":1830,"y":3220,"wires":[]},{"id":"abf454d1.dba768","type":"function","z":"fcea4801.254558","name":"set payload and headers for HPfeeds-Cowrie","func":"var Authorization= \"CoFC1yD4E9xGsmt2vQIxjx29b0VuskhMLwxO1CIT\" ;\n//var Authorization= \"uyVOO0OWTo09nVaXjVieo1zmno00JA3rn1cxaXS0\" ;\nvar Accept= \"application/json\";\nvar ContentType= \"application/json\";\nif(msg.cowrie.length > 0 ){\n    msg.all = msg.cowrie;\n\n    var today = new Date();\n    var dd = today.getDate();\n    \n    var mm = today.getMonth()+1; \n    var yyyy = today.getFullYear();\n    if(dd<10) \n    {\n        dd='0'+dd;\n    } \n    \n    if(mm<10) \n    {\n        mm='0'+mm;\n    } \n    today = yyyy+'-'+mm+'-'+dd;\n    \n    msg.headers = {\"Authorization\" : Authorization, \"Accept\" : Accept, \"content-type\":ContentType};\n    var data ={Event:{date:today,threat_level_id:\"2\",info:\"HpFeeds-Cowrie\",published:\"0\",analysis:\"0\",distribution:\"0\",Attribute:[{test:\"test\"}]}};\n        \n    msg.payload = data;\n    \n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":1950,"y":3400,"wires":[["46eb6830.934c68"]]},{"id":"46eb6830.934c68","type":"http request","z":"fcea4801.254558","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://192.168.1.147/events/","tls":"e9909836.ebd568","persist":false,"proxy":"","authType":"","x":2210,"y":3400,"wires":[["c84ef9a2.687a98","b5b5d435.52e6b8"]]},{"id":"bd7939d.4d673c8","type":"http request","z":"fcea4801.254558","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"e9909836.ebd568","persist":false,"proxy":"","authType":"","x":3150,"y":3400,"wires":[[]]},{"id":"ff2848ff.3a22e8","type":"function","z":"fcea4801.254558","name":"","func":"var hexData = [];\n\nfor(var i in msg.payload){\n    hexData[i] = msg.payload[i].value;\n}\nmsg.hex_data = hexData;\nreturn msg;","outputs":1,"noerr":0,"x":3030,"y":3200,"wires":[["8e99658f.1e8268","2617a208.0f024e","bdf3da92.04f608"]]},{"id":"83146e5f.3f7","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3030,"y":3160,"wires":[]},{"id":"e2db953d.ec3fa8","type":"function","z":"fcea4801.254558","name":"Get the IP from the JSON","func":"var template = {type:\"ip-src|port\",category:\"Network activity\",to_ids:\"false\",distribution:\"0\",comment:\" \",value:\" \"};\n\nif(msg.malware.length > 0){\n    \n    var data = msg.malware;\n    var json = msg.malware;\n    msg.JSON = msg.malware;\n    msg.row = 0;\n    \n    function search(nameKey, myArray){\n        for (var i=0; i < myArray.length; i++) {\n            msg.malware = myArray[i].value ;\n            if (myArray[i].value === nameKey) {\n                \n                return i;\n                \n            }else{\n                return null;\n            }\n        }\n    }\n    \n    var everything = [];\n    \n    var everything1 = [];\n    \n    var honeypot = [];\n    \n    var ip = [];\n    \n    var hash = [];\n    \n    var i = 0;\n    for (var j in data){\n        \n        var item = data[j];\n        \n        \n        if(ip.includes(item.payload) === false && item.channel == \"mwbinary.dionaea.sensorunique\"){\n            \n            ip[i] = item.payload;\n            i++;\n            msg.payload = ip;\n        }\n        \n    }\n    \n    var z = 0;\n    \n    for (var y in data){\n        \n        var itemE = data[y];\n        \n        \n        if(hash.includes(itemE.payload.md5) === false && itemE.channel == \"dionaea.capture\"){\n            \n            hash[z] = itemE.payload.md5;\n            z++;\n            msg.payload = hash;\n        }\n        \n    }\n    \n    for(var x =0; x<ip.length;x++){\n        everything.push({category : \"Network activity\", comment:\"\", to_ids:\"false\", distribution: \"0\", type:\"ip-src|port\",value:ip[x]});\n    }\n    \n    for(var x =0; x<hash.length;x++){\n        everything1.push({category : \"Network activity\", comment:\"\", to_ids:\"false\", distribution: \"0\", type:\"ip-src|port\",value:hash[x]});\n    }\n    \n    msg.honeypot = hash;\n    msg.json = json;\n    msg.payload = everything;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2770,"y":3260,"wires":[["ff2848ff.3a22e8","83146e5f.3f7","ab145996.0c0ff8","9a2b018b.71a5a","22ddb119.aeeffe"]]},{"id":"ab145996.0c0ff8","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"honeypot","targetType":"msg","x":3020,"y":3240,"wires":[]},{"id":"8e99658f.1e8268","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"hex_data","targetType":"msg","x":3260,"y":3160,"wires":[]},{"id":"2617a208.0f024e","type":"function","z":"fcea4801.254558","name":"","func":"var entryArray = [];\nvar entry = \"\";\nmsg.data = JSON.parse(msg.idData);\nvar string = msg.hex_data.length+\"\\n\";\n\nfor(var i in msg.hex_data){\n    entry = msg.hex_data[i];\n    entryArray = entry.split(\"\");\n    \n    string += msg.honeypot[i] + \"\\n\";\n    string += entry+\"\\n\";\n}\n\nvar fileName = msg.data.Event.id;\n\nmsg.payload = string;\n\n//msg.payload = msg.honeypot[0];\n//msg.payload = msg.payload.join(\"\");\nmsg.path = \"../../malware\";\nmsg.filename = fileName;\nreturn msg;\n","outputs":1,"noerr":0,"x":3210,"y":3220,"wires":[["8abd741.41dd288","d5caba2b.cb4e88","4879655.7360f9c"]]},{"id":"8abd741.41dd288","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3370,"y":3220,"wires":[]},{"id":"4879655.7360f9c","type":"fs-ops-access","z":"fcea4801.254558","name":"","path":"path","pathType":"msg","filename":"filename","filenameType":"msg","read":false,"write":true,"throwerror":false,"x":3370,"y":3260,"wires":[["eb1285ce.927308"],["88fb58cf.537de8"]]},{"id":"eb1285ce.927308","type":"file","z":"fcea4801.254558","name":"Save to file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3650,"y":3260,"wires":[[]]},{"id":"88fb58cf.537de8","type":"function","z":"fcea4801.254558","name":"add time","func":"var filename = msg.filename;\nmsg.filename = \"../../malware/\"+filename;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":3480,"y":3300,"wires":[["eb1285ce.927308","7de98c3c.82d844"]]},{"id":"7de98c3c.82d844","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3670,"y":3320,"wires":[]},{"id":"bdf3da92.04f608","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","x":3260,"y":3120,"wires":[]},{"id":"d5caba2b.cb4e88","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":3450,"y":3180,"wires":[]},{"id":"d2625277.98bdb","type":"wfwatch","z":"fcea4801.254558","folder":"/malware/parsed/same","x":480,"y":3580,"wires":[["fe497bbb.72d858","b19b373c.414bb8"]]},{"id":"fe497bbb.72d858","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":3520,"wires":[]},{"id":"d22b29fc.2e0108","type":"file in","z":"fcea4801.254558","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":950,"y":3680,"wires":[["7a47d308.85a96c","5f68f8da.b93c48"]]},{"id":"b19b373c.414bb8","type":"function","z":"fcea4801.254558","name":"","func":"if(msg.payload.changeType == \"create\"){\n    var test = msg.payload.filePath;\n}\n\nvar words = test.split('/');\nwords = words[4].split('.');\n\nmsg.filename = test;\nmsg.eventid = words[0];\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":3620,"wires":[["48236057.de7b6","f5c3ad57.b363a","d22b29fc.2e0108"]]},{"id":"48236057.de7b6","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":3580,"wires":[]},{"id":"7a47d308.85a96c","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":3620,"wires":[]},{"id":"5f68f8da.b93c48","type":"function","z":"fcea4801.254558","name":"","func":"//var Authorization= \"KlDzVeqt8YBNP3coW8InwPI0VL2r5Y5apPV5kJZ2\" ;\n var Authorization= \"CoFC1yD4E9xGsmt2vQIxjx29b0VuskhMLwxO1CIT\" ;\nvar Accept= \"application/json\";\nvar ContentType= \"application/json\";\nmsg.headers = {\"Authorization\" : Authorization, \"Accept\" : Accept, \"content-type\":ContentType, \"event_id\":msg.eventid};\n\n\nvar test = {\"request\":{\"files\": [{\"filename\": msg.filename, \"data\": msg.payload}], \"distribution\": 1, \"info\" : \"test\", \"event_id\": msg.eventid}}\n\nmsg.payload = test;\nmsg.url = \"https://192.168.1.147/events/upload_sample/\" + msg.eventid;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":3720,"wires":[["b3ff1b2d.ec45c8","b2a3f3dc.1da6e","559dfe26.a5684"]]},{"id":"b3ff1b2d.ec45c8","type":"http request","z":"fcea4801.254558","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"e9909836.ebd568","persist":false,"proxy":"","authType":"","x":1330,"y":3780,"wires":[["ecb4e200.5a3a4"]]},{"id":"ecb4e200.5a3a4","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1530,"y":3680,"wires":[]},{"id":"b2a3f3dc.1da6e","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":3700,"wires":[]},{"id":"f5c3ad57.b363a","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"eventid","targetType":"msg","x":990,"y":3540,"wires":[]},{"id":"559dfe26.a5684","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1320,"y":3660,"wires":[]},{"id":"9a2b018b.71a5a","type":"debug","z":"fcea4801.254558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"malware","targetType":"msg","x":2650,"y":3120,"wires":[]},{"id":"22ddb119.aeeffe","type":"debug","z":"fcea4801.254558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"idData","targetType":"msg","x":3030,"y":3120,"wires":[]},{"id":"e9909836.ebd568","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]